@import '../01_settings/typography';

body {
  width: 100vw;
  height: 100vh;
  font-family: $primary-font-family, $secondary-font-family, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  *, *::before, *::after {
    box-sizing: border-box;
  }
}
