[type="submit"],
[type="reset"],
[type="button"],
button {
  -webkit-appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}
