/**
 * Abstract colors
 */

$_blue: #0148FD;
$_green: #95FE3E;
$_white: #ffffff;
$_black: #000000;


/**
 * Colors in context
 */

// Main colors
$primary-color: $_green;

$neutral-color: $_white;

$dark-color: $_black;

// Player
$player-primary: $_blue;
$player-neutral: $_white;
