@mixin font-face($name, $file, $weight: false) {
  $name: quote($name);
  @font-face {
    font-family: $name;
    src: unquote('url("#{$file}") format("truetype")');
    @if $weight {
      font-weight: $weight;
    }
  }
}
